<div *ngIf="selectedTags.length > 0">
    <div class="row">
        <div class="card">
            <ul class="list-unstyled list-inline">
                <li *ngFor="let tag of selectedTags" class="list-inline-item">
                    <span class="tag tag-default">
                        {{tag.display}}
                        <button (click)="removeTag(tag)" class="close p-l-2"><span
                                aria-hidden="true">&times;</span></button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>