<div *ngIf="selectedTags.length > 0">
    <div class="card">
        <div class="row">
            <ul>
                <li *ngFor="let tag of selectedTags" class="list-unstyled">
                    <span class="tag tag-default">
                        {{tag.display}}
                        <button (click)="removeTag(tag)" class="close p-l-2"><span
                                aria-hidden="true">&times;</span></button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>