<div *ngIf="selectedTags.length > 0">
    <div class="well">
        <div class="row">
            <ul>
                <li *ngFor="let tag of selectedTags" class="col-sm-2 list-unstyled">
                    <div class="panel">
                        <button (click)="removeTag(tag)" class="close pull-right"><span
                                aria-hidden="true">&times;</span></button>
                        <p class="panel-body">{{tag.display}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>